.card {
  a {
    text-decoration: none;
  }
}

.thumbnail {
  overflow: hidden;
  position: relative;
  border-radius: 20px;

  img {
    width: 100%;
  }
}

.content {
  padding: 0 24px;
}

.title {
  margin: 0 0 12px;
  padding-top: 12px;
  font-size: 16px;
  color: #fff;
}

.channel,
.publishedAt {
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #f1f1f1;
}